#clickOff,
table.off tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {
    display: none;
} 
.wrap {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
.table td {
   text-align: center;   
}
td.name_column,
th.name_column {
	max-width: 320px;
	word-wrap: break-word
}

