#clickOff,
table.off tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {
    display: none;
} 

h1, h2, h3, h4, h5, h6 {
    color: #EEEEEE;
    font-weight: 400;
    font-family: sans-serif;
}

.wrap {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
.table td {
   text-align: center;   
}
td.name_column,
th.name_column {
	max-width: 320px;
	word-wrap: break-word
}

