#clickOff,
table.off tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {
    display: none;
} 
.table td {
   text-align: center;   
}
td.name_column,
th.name_column {
	max-width: 320px;
	word-wrap: break-word
}

